@media only screen and (max-width: 1024px) {
  html {
    font-size: 13px; }
  body {
    letter-spacing: 3px; }
  .container {
    width: 100%;
    padding: 0 15px; }
  .wrap {
    width: 100%;
    padding: 0 20px; }
  header nav ul {
    justify-content: flex-start; }
  header .header_boxlogo_logo {
    left: 40px; }
  .concept_top_right {
    right: 0; }
  .menu_img {
    right: 0; }
  .contact_box {
    left: 0; } }

@media only screen and (max-width: 768px) {
  html {
    font-size: 26px; }
  body {
    letter-spacing: 1px;
    font-size: 1rem; }
  small {
    font-size: 1rem; }
  h2:before {
    background-size: 30% !important; }
  .container {
    padding: 0; }
  .overflow {
    overflow: hidden; }
  header {
    margin-top: 100px;
    overflow-x: hidden; }
    header .header_bg {
      width: 100%;
      height: 560px; }
    header .header_boxlogo {
      height: auto; }
      header .header_boxlogo_logo {
        width: 420px;
        position: inherit;
        margin-top: 590px;
        margin-left: 40px; }
        header .header_boxlogo_logo h1 {
          margin-top: 25px;
          font-size: 0.76923rem; }
    header .header_socical {
      display: none; }
    header nav {
      position: fixed;
      top: 0;
      background: #fff;
      z-index: 99999;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: center;
      padding: 0 25px 0 40px !important;
      height: 100px; }
      header nav ul {
        display: block; }
      header nav .nav_logo {
        display: block;
        width: 160px; }
      header nav .nav_btn {
        display: block;
        width: 50px;
        height: 45px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%); }
        header nav .nav_btn p {
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          background: #5d8fa1;
          transition: all .5s; }
          header nav .nav_btn p:nth-child(2) {
            top: 50%;
            transform: translateY(-50%); }
          header nav .nav_btn p:first-child {
            top: 0%; }
          header nav .nav_btn p:last-child {
            bottom: 0%; }
        header nav .nav_btn.btn_show p:first-child {
          top: 50%;
          transform: translateY(-50%) rotate(405deg); }
        header nav .nav_btn.btn_show p:nth-child(2) {
          opacity: 0; }
        header nav .nav_btn.btn_show p:last-child {
          bottom: 50%;
          transform: translateY(50%) rotate(-405deg); }
      header nav .nav_mega {
        position: absolute;
        background: rgba(255, 255, 255, 0.95);
        width: 100%;
        height: 100vh;
        right: -100%;
        top: 100px;
        transition: all .5s; }
        header nav .nav_mega.show {
          right: 0; }
  .concept {
    margin-top: 90px; }
    .concept h2 {
      margin-bottom: 70px;
      font-size: 1.61538rem; }
      .concept h2:before {
        background-size: 400px !important;
        bottom: 0;
        width: 100%; }
    .concept_top {
      overflow-x: hidden;
      margin-bottom: 100px;
      height: 610px; }
      .concept_top_left {
        width: 80%; }
        .concept_top_left h3 {
          padding: 120px 5px;
          text-align: center;
          font-size: 1.38462rem; }
      .concept_top_right {
        width: 670px;
        height: 380px; }
    .concept_mid {
      text-align: left;
      padding: 0 40px;
      margin-bottom: 100px; }
      .concept_mid p {
        font-size: 1.07692rem;
        line-height: 1.5;
        margin-bottom: 5px; }
    .concept_bottom_left, .concept_bottom_right {
      width: 100%;
      text-align: left; }
      .concept_bottom_left h3, .concept_bottom_right h3 {
        text-align: center;
        margin-bottom: 55px;
        font-size: 1.38462rem; }
      .concept_bottom_left ul, .concept_bottom_right ul {
        margin-left: 85px;
        margin-bottom: 135px; }
        .concept_bottom_left ul li, .concept_bottom_right ul li {
          font-size: 1rem;
          margin-bottom: 50px; }
          .concept_bottom_left ul li i:before, .concept_bottom_right ul li i:before {
            width: 10px;
            height: 10px;
            left: -35px; }
      .concept_bottom_left_img, .concept_bottom_right_img {
        width: 500px;
        height: 350px;
        margin: -235px auto 55px; }
      .concept_bottom_left_about, .concept_bottom_right_about {
        width: 90%;
        padding: 5px 15px;
        text-align: center;
        min-height: 155px;
        bottom: -15px; }
        .concept_bottom_left_about p, .concept_bottom_right_about p {
          font-size: 1.07692rem; }
    .concept_bottom_left {
      margin-top: 235px; }
    .concept_bottom_right {
      margin-top: 410px; }
    .concept_bottom .wrap {
      padding: 0 40px; }
  .shop {
    margin-bottom: 200px; }
    .shop h2 {
      font-size: 1.61538rem;
      margin: 275px 0 70px; }
      .shop h2:before {
        background-size: 250px !important;
        width: 100%; }
    .shop .wrap {
      display: block;
      padding: 0 5%; }
    .shop_left, .shop_right {
      width: 100%;
      padding: 0 0 80px 0; }
      .shop_left_btn a, .shop_right_btn a {
        padding: 25px;
        width: 300px; }
      .shop_left h3, .shop_right h3 {
        text-align: center;
        font-size: 1.30769rem;
        margin-bottom: 25px; }
      .shop_left_img, .shop_right_img {
        width: 500px;
        height: 320px;
        margin: 0 auto 25px; }
      .shop_left_preview, .shop_right_preview {
        margin-left: 50px; }
        .shop_left_preview p, .shop_right_preview p {
          font-size: 1rem; }
      .shop_left_date, .shop_right_date {
        font-size: 1rem;
        margin-left: 50px; }
    .shop_right {
      margin-top: 75px; }
  .menu h2 {
    padding: 510px 0 70px; }
    .menu h2:before {
      background-size: 280px !important;
      width: 100%;
      bottom: 80px; }
  .menu_img {
    right: 50%;
    transform: translateX(50%);
    width: 350px;
    height: 420px;
    top: -100px; }
  .menu .wrap {
    padding: 0; }
  .menu_box {
    margin-bottom: 30px; }
    .menu_box_title {
      padding: 0 40px; }
      .menu_box_title h3 {
        font-size: 1.53846rem; }
      .menu_box_title_close {
        top: 60px; }
        .menu_box_title_close p {
          display: none; }
        .menu_box_title_close:before {
          height: 4px; }
        .menu_box_title_close:after {
          height: 4px; }
    .menu_box_toggle {
      padding: 0 20px 90px 20px; }
    .menu_box_item {
      height: 150px; }
      .menu_box_item h4 {
        font-size: 1.07692rem; }
      .menu_box_item_btn a, .menu_box_cont ul li .menu_box_cont_btn a {
        min-width: 150px; }
        .menu_box_item_btn a:before, .menu_box_cont ul li .menu_box_cont_btn a:before, .menu_box_item_btn a:after, .menu_box_cont ul li .menu_box_cont_btn a:after {
          width: 20px;
          height: 20px;
          top: 55%; }
    .menu_box_cont {
      display: block; }
      .menu_box_cont ul li {
        padding: 15px 30px 15px 60px;
        width: 100%;
        border-bottom: 1px solid #e4f1f7; }
        .menu_box_cont ul li:before {
          top: 30px;
          width: 10px;
          height: 10px; }
        .menu_box_cont ul li:last-child {
          border-bottom: none; }
        .menu_box_cont ul li p .br_mobile {
          display: block;
          margin-top: 10px; }
        .menu_box_cont ul li p span:first-child {
          display: block;
          margin-bottom: 10px; }
    .menu_box_salmon_treatment {
      margin: 0 30px; }
      .menu_box_salmon_treatment_row {
        display: block; }
        .menu_box_salmon_treatment_row_title {
          margin: 30px 0 20px; }
        .menu_box_salmon_treatment_row ul {
          display: block; }
          .menu_box_salmon_treatment_row ul li {
            margin-bottom: 30px;
            width: 100%; }
            .menu_box_salmon_treatment_row ul li:before {
              top: inherit;
              bottom: -28px;
              right: 50%;
              transform: translateY(-50%) rotate(90deg); }
            .menu_box_salmon_treatment_row ul li:last-child {
              width: 100%; }
      .menu_box_salmon_treatment > p {
        text-align: left;
        width: 100%;
        line-height: 1.5;
        margin-bottom: 20px; }
      .menu_box_salmon_treatment ul li {
        margin-bottom: 50px; }
        .menu_box_salmon_treatment ul li:before {
          background-size: 100%;
          width: 25px;
          height: 25px;
          top: 120%; }
    .menu_box_sale {
      padding-left: 60px; }
      .menu_box_sale p:before {
        width: 10px;
        height: 10px;
        top: 25px;
        left: -20px; }
    .menu_box_individual small {
      display: none; }
    .menu_box small {
      padding: 0 35px; }
  .menu_footer {
    margin-left: 40px;
    text-align: left;
    padding-bottom: 100px; }
    .menu_footer p {
      font-size: 0.92308rem;
      margin-bottom: 20px; }
  .menu_box_item_btn a, .menu_box_cont ul li .menu_box_cont_btn a, .menu_box_cont ul li .menu_box_cont_btn a {
    padding: 20px 40px 20px 35px; }
  .menu_box_trial .menu_box_item h4 {
    line-height: 1.5;
    width: 370px; }
  .menu_box_explain_sub {
    font-size: 0.92308rem; }
  .menu_box_explain_title span {
    font-weight: 400; }
  .contact .wrap {
    padding: 0 40px; }
  .contact_box_tellnow {
    display: block;
    width: 300px;
    padding: 25px 0;
    margin: 40px auto;
    text-align: center;
    color: #fff;
    background: #00cc99;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); }
  .contact_box_phone {
    width: 100%;
    font-size: 2.69231rem; }
    .contact_box_phone:before {
      background-size: 100%;
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
      left: 12%; }
  .contact_box_title:after {
    height: 2px;
    top: 14px;
    width: 80%; }
  .contact_box_title p {
    font-size: 1rem;
    width: 50%; }
  .contact_box_time p {
    display: block;
    line-height: 1.5;
    font-size: 0.92308rem; }
  .contact_box_note p {
    text-align: left;
    line-height: 1.5;
    padding: 0 5%;
    font-size: 0.92308rem;
    margin-bottom: 40px; }
  .contact_box_img {
    margin-top: 100px; }
    .contact_box_img li {
      height: 150px; }
  .contact:after {
    height: 75%;
    top: 310px; }
  .profile .wrap {
    padding: 0 40px; }
  .profile:before {
    display: none; }
  .profile h2 {
    padding: 310px 0 70px; }
    .profile h2:before {
      bottom: 85px;
      background-size: 90% !important;
      width: 100%; }
  .profile_img {
    height: 230px; }
  .profile_content {
    padding-bottom: 0; }
    .profile_content_row {
      display: block; }
      .profile_content_row_left, .profile_content_row_right {
        width: 100%; }
      .profile_content_row_right {
        margin-top: 50px;
        padding: 50px 50px 0;
        position: relative; }
        .profile_content_row_right:before {
          content: "";
          position: absolute;
          top: 0;
          left: -5.9%;
          width: 100vw;
          height: 100%;
          background: #dae4e9;
          z-index: -1;
          padding-bottom: 50px; }
      .profile_content_row_left {
        padding: 0 50px; }
        .profile_content_row_left p span {
          display: block;
          width: 100%;
          margin-bottom: 15px; }
  footer .footer {
    flex-wrap: wrap; }
    footer .footer_left {
      display: block;
      width: 100%;
      order: 2; }
      footer .footer_left_logo {
        display: block;
        width: 250px;
        margin: auto; }
      footer .footer_left p {
        text-align: center;
        margin: 45px 0; }
    footer .footer_right {
      margin: auto; }
  .network {
    margin-bottom: 100px; }
    .network h2 {
      margin: 310px 0 70px; }
      .network h2:before {
        width: 100%;
        background-size: 60% !important;
        bottom: 15px; } }

@media only screen and (max-width: 414px) {
  html {
    font-size: 13px; }
  body {
    letter-spacing: 1px;
    font-size: 1rem; }
  small {
    font-size: 1rem; }
  h2:before {
    background-size: 30% !important; }
  .container {
    padding: 0; }
  .overflow {
    overflow: hidden; }
  header {
    margin-top: 50px;
    overflow-x: hidden; }
    header .header_bg {
      width: 100%;
      height: 280px; }
    header .header_boxlogo {
      height: auto; }
      header .header_boxlogo_logo {
        width: 210px;
        position: inherit;
        margin-top: 295px;
        margin-left: 20px; }
        header .header_boxlogo_logo h1 {
          margin-top: 12.5px;
          font-size: 0.76923rem; }
    header .header_socical {
      display: none; }
    header nav {
      position: fixed;
      top: 0;
      background: #fff;
      z-index: 99999;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: center;
      padding: 0 12.5px 0 20px !important;
      height: 50px; }
      header nav ul {
        display: block; }
        header nav ul li a {
          padding: 10px 35px; }
      header nav .nav_logo {
        display: block;
        width: 80px; }
      header nav .nav_btn {
        display: block;
        width: 25px;
        height: 22.5px;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%); }
        header nav .nav_btn p {
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          background: #5d8fa1;
          transition: all .5s; }
          header nav .nav_btn p:nth-child(2) {
            top: 50%;
            transform: translateY(-50%); }
          header nav .nav_btn p:first-child {
            top: 0%; }
          header nav .nav_btn p:last-child {
            bottom: 0%; }
        header nav .nav_btn.btn_show p:first-child {
          top: 50%;
          transform: translateY(-50%) rotate(405deg); }
        header nav .nav_btn.btn_show p:nth-child(2) {
          opacity: 0; }
        header nav .nav_btn.btn_show p:last-child {
          bottom: 50%;
          transform: translateY(50%) rotate(-405deg); }
      header nav .nav_mega {
        position: absolute;
        background: rgba(255, 255, 255, 0.95);
        width: 100%;
        height: 100vh;
        right: -100%;
        top: 50px;
        transition: all .5s; }
        header nav .nav_mega.show {
          right: 0; }
  .concept {
    margin-top: 45px; }
    .concept h2 {
      margin-bottom: 35px;
      font-size: 1.61538rem; }
      .concept h2:before {
        background-size: 200px !important;
        bottom: -27px;
        width: 100%; }
    .concept_top {
      overflow-x: hidden;
      margin-bottom: 50px;
      height: 305px; }
      .concept_top_left {
        width: 80%; }
        .concept_top_left h3 {
          padding: 60px 5px;
          text-align: center;
          font-size: 1.38462rem; }
      .concept_top_right {
        width: 335px;
        height: 190px; }
    .concept_mid {
      text-align: left;
      padding: 0 20px;
      margin-bottom: 50px; }
      .concept_mid p {
        font-size: 1.07692rem;
        line-height: 2;
        margin-bottom: 0; }
    .concept_bottom_left, .concept_bottom_right {
      width: 100%;
      text-align: left; }
      .concept_bottom_left h3, .concept_bottom_right h3 {
        text-align: center;
        margin-bottom: 27.5px;
        font-size: 1.38462rem; }
      .concept_bottom_left ul, .concept_bottom_right ul {
        margin-left: 42.5px;
        margin-bottom: 67.5px; }
        .concept_bottom_left ul li, .concept_bottom_right ul li {
          font-size: 1rem;
          margin-bottom: 25px; }
          .concept_bottom_left ul li i:before, .concept_bottom_right ul li i:before {
            width: 5px;
            height: 5px;
            left: -17.5px; }
      .concept_bottom_left_img, .concept_bottom_right_img {
        width: 250px;
        height: 175px;
        margin: -117.5px auto 55px; }
      .concept_bottom_left_about, .concept_bottom_right_about {
        width: 90%;
        padding: 5px 15px;
        text-align: center;
        min-height: 77.5px;
        bottom: 15px; }
        .concept_bottom_left_about p, .concept_bottom_right_about p {
          font-size: 1.07692rem; }
    .concept_bottom_left {
      margin-top: 117.5px; }
    .concept_bottom_right {
      margin-top: 205px; }
    .concept_bottom .wrap {
      padding: 0 20px; }
  .shop {
    margin-bottom: 100px; }
    .shop h2 {
      font-size: 1.61538rem;
      margin: 137.5px 0 35px; }
      .shop h2:before {
        background-size: 125px !important;
        width: 100%;
        bottom: -20px; }
    .shop .wrap {
      display: block;
      padding: 0 5%; }
    .shop_left, .shop_right {
      width: 100%;
      padding: 0 0 40px 0; }
      .shop_left_btn a, .shop_right_btn a {
        padding: 12.5px;
        width: 150px; }
      .shop_left h3, .shop_right h3 {
        text-align: center;
        font-size: 1.30769rem;
        margin-bottom: 12.5px; }
      .shop_left_img, .shop_right_img {
        width: 250px;
        height: 160px;
        margin: 0 auto 12.5px; }
      .shop_left_preview, .shop_right_preview {
        margin-left: 25px; }
        .shop_left_preview p, .shop_right_preview p {
          font-size: 1rem; }
      .shop_left_date, .shop_right_date {
        font-size: 1rem;
        margin-left: 25px; }
    .shop_right {
      margin-top: 37.5px; }
  .menu h2 {
    padding: 255px 0 35px; }
    .menu h2:before {
      background-size: 140px !important;
      width: 100%;
      bottom: 15px; }
  .menu_img {
    right: 50%;
    transform: translateX(50%);
    width: 175px;
    height: 210px;
    top: -50px; }
  .menu .wrap {
    padding: 0; }
  .menu_box {
    margin-bottom: 15px; }
    .menu_box_title {
      padding: 0 20px;
      height: 60px; }
      .menu_box_title h3 {
        font-size: 1.53846rem;
        line-height: 55px; }
      .menu_box_title_close {
        top: 30px; }
        .menu_box_title_close p {
          display: none; }
        .menu_box_title_close:before {
          height: 2px; }
        .menu_box_title_close:after {
          height: 2px; }
    .menu_box_toggle {
      padding: 0 10px 45px 10px; }
    .menu_box_item {
      height: 75px; }
      .menu_box_item h4 {
        font-size: 1.07692rem; }
      .menu_box_item_btn a, .menu_box_cont ul li .menu_box_cont_btn a {
        min-width: 75px; }
        .menu_box_item_btn a:before, .menu_box_cont ul li .menu_box_cont_btn a:before, .menu_box_item_btn a:after, .menu_box_cont ul li .menu_box_cont_btn a:after {
          width: 10px;
          height: 10px;
          top: 55%; }
    .menu_box_cont {
      display: block; }
      .menu_box_cont ul li {
        padding: 7.5px 15px 7.5px 30px;
        width: 100%;
        border-bottom: 1px solid #e4f1f7; }
        .menu_box_cont ul li:before {
          top: 15px;
          width: 5px;
          height: 5px; }
        .menu_box_cont ul li:last-child {
          border-bottom: none; }
        .menu_box_cont ul li p .br_mobile {
          display: block;
          margin-top: 10px; }
        .menu_box_cont ul li p span:first-child {
          display: block;
          margin-bottom: 10px; }
    .menu_box_salmon_treatment {
      margin: 0 15px; }
      .menu_box_salmon_treatment_row {
        display: block; }
        .menu_box_salmon_treatment_row_title {
          margin: 15px 0 10px; }
        .menu_box_salmon_treatment_row ul {
          display: block; }
          .menu_box_salmon_treatment_row ul li {
            margin-bottom: 30px;
            width: 100%; }
            .menu_box_salmon_treatment_row ul li:before {
              top: inherit;
              bottom: -28px;
              right: 50%;
              transform: translateY(-50%) rotate(90deg); }
            .menu_box_salmon_treatment_row ul li:last-child {
              width: 100%; }
      .menu_box_salmon_treatment > p {
        text-align: left;
        width: 100%;
        line-height: 1.5;
        margin-bottom: 20px; }
      .menu_box_salmon_treatment ul li {
        margin-bottom: 25px; }
        .menu_box_salmon_treatment ul li:before {
          background-size: 100%;
          width: 12.5px;
          height: 12.5px;
          top: 120%; }
    .menu_box_sale {
      padding-left: 30px; }
      .menu_box_sale p:before {
        width: 5px;
        height: 5px;
        top: 12.5px;
        left: -10px; }
    .menu_box_individual small {
      display: none; }
    .menu_box small {
      padding: 0 17.5px; }
  .menu_footer {
    margin-left: 20px;
    text-align: left;
    padding-bottom: 50px; }
    .menu_footer p {
      font-size: 0.92308rem;
      margin-bottom: 10px; }
  .menu_box_item_btn a, .menu_box_cont ul li .menu_box_cont_btn a, .menu_box_cont ul li .menu_box_cont_btn a {
    padding: 10px 20px 10px 15px; }
  .menu_box_trial .menu_box_item h4 {
    line-height: 1.5;
    width: 185px; }
  .menu_box_explain_sub {
    font-size: 0.92308rem; }
  .menu_box_explain_title span {
    font-weight: 400; }
  .contact .wrap {
    padding: 0 20px; }
  .contact_box {
    padding-top: 25px; }
    .contact_box_tellnow {
      display: block;
      width: 150px;
      padding: 12.5px 0;
      margin: 20px auto;
      text-align: center;
      color: #fff;
      background: #00cc99;
      border-radius: 5px;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); }
    .contact_box_phone {
      width: 100%;
      font-size: 2.69231rem;
      margin-top: 30px;
      padding-left: 35px; }
      .contact_box_phone:before {
        background-size: 100%;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        left: 12%;
        bottom: 3px; }
    .contact_box_title:after {
      height: 1px;
      top: 7px;
      width: 80%; }
    .contact_box_title p {
      font-size: 1rem;
      width: 60%; }
    .contact_box_time p {
      display: block;
      line-height: 1.5;
      font-size: 0.92308rem; }
    .contact_box_note p {
      text-align: left;
      line-height: 1.5;
      padding: 0 5%;
      font-size: 0.92308rem;
      margin-bottom: 20px; }
    .contact_box_img {
      margin-top: 50px; }
      .contact_box_img li {
        height: 75px; }
  .contact:after {
    height: 75%;
    top: 155px; }
  .profile .wrap {
    padding: 0 20px; }
  .profile:before {
    display: none; }
  .profile h2 {
    padding: 155px 0 35px; }
    .profile h2:before {
      bottom: 15px;
      background-size: 90% !important;
      width: 100%; }
  .profile_img {
    height: 230px; }
  .profile_content {
    padding-bottom: 0; }
    .profile_content_row {
      display: block; }
      .profile_content_row_left, .profile_content_row_right {
        width: 100%; }
      .profile_content_row_right {
        margin-top: 50px;
        padding-left: 0;
        padding-top: 50px;
        position: relative; }
        .profile_content_row_right:before {
          content: "";
          position: absolute;
          top: 0;
          left: -5.9%;
          width: 100vw;
          height: 100%;
          background: #dae4e9;
          z-index: -1;
          padding-bottom: 50px; }
      .profile_content_row p {
        font-size: 1rem; }
  footer .footer {
    flex-wrap: wrap; }
    footer .footer_left {
      display: block;
      width: 100%;
      order: 2; }
      footer .footer_left_logo {
        display: block;
        width: 125px;
        margin: auto; }
      footer .footer_left p {
        text-align: center;
        margin: 25px 0; }
    footer .footer_right {
      margin: auto;
      padding: 25px; }
  .network {
    margin-bottom: 50px; }
    .network h2 {
      margin: 155px 0 35px; }
      .network h2:before {
        width: 100%;
        background-size: 60% !important;
        bottom: -15px; } }
