@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap");
@keyframes toggle {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

* {
  box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%;
  font-size: 14px; }

h1, h2, h3, h4, h5, h6, p, dl, dt, dd {
  margin: 0;
  padding: 0;
  line-height: 1; }

body {
  overflow-x: hidden;
  font-family: "A-OTF 新ゴ Pro",A-OTF Shin Go Pro,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  line-height: 1;
  color: #333333;
  background: #eaf1f4; }

main {
  display: block; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

a {
  background-color: transparent;
  text-decoration: none;
  color: #333333;
  transition: all .3s; }
  a:hover {
    color: #999; }

img {
  object-fit: cover;
  border-style: none;
  height: 100%;
  width: 100%; }

small {
  display: block; }

ul, ol {
  list-style: none;
  padding-left: 0;
  font-size: 0; }

li {
  font-size: 1rem; }

.container {
  margin: auto;
  width: 1200px; }

.wrap {
  margin: auto;
  width: 1000px; }

.h2, .concept h2, .shop h2, .menu h2, .profile h2, .network h2 {
  font-family: "Noto Serif JP", serif;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  position: relative; }

header {
  position: relative;
  font-family: "Noto Serif JP", serif; }
  header .header_bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 72%;
    height: 780px; }
  header .header_boxlogo {
    position: relative;
    height: 780px; }
    header .header_boxlogo_logo {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 375px; }
      header .header_boxlogo_logo h1 {
        margin-top: 30px;
        font-size: 1.07143rem;
        color: #000; }
  header nav .nav_btn {
    display: none; }
  header nav .nav_logo {
    display: none; }
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; }
    header nav ul li a {
      display: block;
      padding: 20px 35px;
      text-align: center;
      font-family: "Noto Serif JP", serif; }
      header nav ul li a p:first-child {
        font-size: 1.21429rem;
        color: #000000;
        margin-bottom: 10px;
        font-weight: bold;
        letter-spacing: 1px;
        transition: all .2s; }
      header nav ul li a p:last-child {
        font-size: 0.78571rem;
        color: #838383; }
      header nav ul li a:hover p:first-child {
        color: #00cc99; }
  header .header_socical {
    position: absolute;
    right: 15px;
    bottom: 15px; }
    header .header_socical ul {
      display: flex;
      flex-wrap: wrap;
      margin-right: 35px; }
      header .header_socical ul li a {
        display: block;
        padding: 15px; }
        header .header_socical ul li a:hover img {
          filter: grayscale(0%); }
      header .header_socical ul li img {
        filter: grayscale(100%);
        transition: all .2s linear; }

.concept {
  margin-top: 220px; }
  .concept h2 {
    margin-bottom: 70px; }
    .concept h2:before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      width: 900px;
      height: 120px;
      background: url(../img/text-bg/concept.png);
      background-repeat: no-repeat;
      background-position: center;
      transform: translateX(-50%);
      z-index: -1; }
  .concept_top {
    position: relative;
    height: 540px;
    margin-bottom: 120px; }
    .concept_top_left {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 500px;
      background: #5d8fa1;
      z-index: 1; }
      .concept_top_left h3 {
        font-family: "Noto Serif JP", serif;
        margin: auto;
        padding: 120px 60px;
        font-size: 1.85714rem;
        color: #fff;
        letter-spacing: 5px;
        font-weight: 400; }
    .concept_top_right {
      position: absolute;
      bottom: 0;
      right: -100px;
      width: 900px;
      height: 490px;
      overflow: hidden;
      box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
      z-index: 0; }
  .concept_mid {
    text-align: center;
    margin-bottom: 220px; }
    .concept_mid p {
      font-size: 1.14286rem;
      margin-bottom: 20px; }
  .concept_bottom .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .concept_bottom_left, .concept_bottom_right {
    background: #fff;
    width: 470px;
    text-align: center;
    position: relative; }
    .concept_bottom_left_img, .concept_bottom_right_img {
      width: 340px;
      height: 240px;
      margin: -100px auto 55px;
      box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1); }
    .concept_bottom_left h3, .concept_bottom_right h3 {
      font-family: "Noto Serif JP", serif;
      font-size: 1.57143rem;
      font-weight: bold;
      margin-bottom: 40px; }
    .concept_bottom_left ul, .concept_bottom_right ul {
      margin-bottom: 110px; }
      .concept_bottom_left ul li, .concept_bottom_right ul li {
        margin-bottom: 30px; }
        .concept_bottom_left ul li i, .concept_bottom_right ul li i {
          position: relative; }
          .concept_bottom_left ul li i:before, .concept_bottom_right ul li i:before {
            content: "";
            position: absolute;
            top: 50%;
            left: -15px;
            width: 5px;
            height: 5px;
            background: #b8a876;
            transform: translateY(-50%) rotate(45deg); }
    .concept_bottom_left_about, .concept_bottom_right_about {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      font-family: "Noto Serif JP", serif;
      justify-content: center;
      align-items: center;
      background: #b8a876;
      width: 340px;
      margin: 0 auto -55px;
      padding: 0 45px;
      width: 370px;
      min-height: 110px;
      padding: 25px 10px; }
      .concept_bottom_left_about p, .concept_bottom_right_about p {
        font-size: 1.14286rem;
        color: #fff;
        line-height: 1.8; }

.shop {
  margin-bottom: 185px; }
  .shop h2 {
    margin: 260px 0 70px; }
    .shop h2:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 900px;
      height: 120px;
      background: url(../img/text-bg/shop.png);
      background-repeat: no-repeat;
      background-position: center;
      transform: translateX(-50%);
      z-index: -1; }
  .shop .wrap {
    padding: 0 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .shop_left, .shop_right {
    position: relative;
    padding: 0 15px 35px 20px;
    width: 50%; }
    .shop_left_img, .shop_right_img {
      margin-bottom: 20px;
      height: 200px; }
    .shop_left h3, .shop_right h3 {
      font-family: "Noto Serif JP", serif;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 1.28571rem; }
    .shop_left_preview, .shop_right_preview {
      margin-bottom: 15px; }
      .shop_left_preview p, .shop_right_preview p {
        margin-bottom: 5px;
        line-height: 1.3; }
    .shop_left_date, .shop_right_date {
      margin-bottom: 20px; }
    .shop_left_btn a, .shop_right_btn a {
      font-family: "Noto Serif JP", serif;
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      min-width: 170px;
      padding: 10px;
      margin: auto;
      text-align: center;
      background: #00cc99;
      color: #fff;
      border-radius: 5px;
      box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
      transition: all .3s linear; }
      .shop_left_btn a:hover, .shop_right_btn a:hover {
        box-shadow: none;
        background: #00b98b; }
  .shop_right {
    padding-left: 15px;
    padding-right: 20px; }
    .shop_right h3 span {
      font-size: 1rem; }

.menu {
  background: #dae4e9; }
  .menu h2 {
    padding: 220px 0 65px; }
    .menu h2:before {
      content: "";
      position: absolute;
      bottom: 70px;
      left: 50%;
      width: 900px;
      height: 120px;
      background: url(../img/text-bg/menu.png);
      background-repeat: no-repeat;
      background-position: center;
      transform: translateX(-50%);
      z-index: -1;
      z-index: 0; }
  .menu .wrap {
    position: relative; }
  .menu_img {
    position: absolute;
    top: -60px;
    right: -200px;
    width: 500px;
    height: 610px;
    z-index: 0; }
  .menu_box {
    position: relative;
    background: #fff;
    margin-bottom: 20px;
    z-index: 1; }
    .menu_box_toggle {
      padding: 0 30px 50px 30px; }
    .menu_box_title {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      height: 125px;
      padding: 0 30px; }
      .menu_box_title:hover {
        background: #dff9f2; }
      .menu_box_title h3 {
        font-size: 1.71429rem;
        font-family: "Noto Serif JP", serif;
        color: #5d8fa1;
        font-weight: 400;
        line-height: 125px; }
      .menu_box_title_close {
        position: absolute;
        top: 50px;
        right: 30px;
        padding-right: 35px;
        display: flex;
        align-items: center; }
        .menu_box_title_close:before, .menu_box_title_close:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          width: 25px;
          height: 1px;
          transform: translateY(-50%) rotate(0deg);
          background: #00cc99;
          transition: all .3s linear; }
        .menu_box_title_close:after {
          transform: translateY(-50%) rotate(90deg); }
        .menu_box_title_close p {
          color: #00cc99;
          line-height: 1.9; }
    .menu_box_explain {
      margin: 30px 0 30px; }
      .menu_box_explain_title {
        margin-bottom: 20px;
        line-height: 1.9;
        padding-left: 20px; }
        .menu_box_explain_title span {
          font-weight: bold; }
      .menu_box_explain_sub {
        font-size: 0.85714rem;
        color: #717171; }
    .menu_box_cont ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 20px 0 0; }
      .menu_box_cont ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 48%;
        padding: 10px 10px 10px 35px;
        position: relative; }
        .menu_box_cont ul li:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 20px;
          width: 5px;
          height: 5px;
          background: #5d8fa1;
          transform: translateY(-50%) rotate(45deg); }
        .menu_box_cont ul li p span:nth-child(2) {
          font-weight: bold; }
    .menu_box_cont_second ul {
      display: block; }
      .menu_box_cont_second ul li {
        width: 100%; }
    .menu_box_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      margin-top: 30px;
      background: #e4f1f7;
      height: 55px; }
      .menu_box_item h4 {
        font-size: 1.14286rem;
        font-weight: bold; }
      .menu_box_item_btn a, .menu_box_cont ul li .menu_box_cont_btn a {
        position: relative;
        font-size: 0.92857rem;
        min-width: 80px;
        display: block;
        padding: 7px 5px 7px 20px;
        border-radius: 5px;
        background: #00cc99;
        color: #fff;
        box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1); }
        .menu_box_item_btn a:before, .menu_box_cont ul li .menu_box_cont_btn a:before {
          content: "";
          position: absolute;
          top: 50%;
          right: 20px;
          width: 11px;
          height: 11px;
          transform: translateY(-50%);
          background: url("../img/menu/item-btn.png");
          background-size: 100%; }
        .menu_box_item_btn a:hover, .menu_box_cont ul li .menu_box_cont_btn a:hover {
          box-shadow: none;
          background: #00b98b; }
    .menu_box small {
      padding: 0 20px;
      margin-top: 30px; }
    .menu_box_salmon_treatment {
      padding: 10px;
      margin-left: 20px;
      border: 1px solid #f3f0e8; }
      .menu_box_salmon_treatment_row {
        display: flex;
        align-items: center; }
        .menu_box_salmon_treatment_row_title {
          min-width: 80px;
          font-size: 1.14286rem;
          font-weight: bold;
          margin-left: 15px; }
        .menu_box_salmon_treatment_row ul {
          display: flex;
          width: 100%; }
          .menu_box_salmon_treatment_row ul li {
            display: flex;
            align-items: center;
            margin-right: 30px;
            padding: 15px;
            background: #f3f0e8;
            width: 200px;
            position: relative; }
            .menu_box_salmon_treatment_row ul li:last-child {
              flex-grow: 1;
              margin-right: 0;
              width: 100%;
              width: 350px; }
              .menu_box_salmon_treatment_row ul li:last-child:before {
                display: none; }
            .menu_box_salmon_treatment_row ul li p {
              line-height: 1.6; }
              .menu_box_salmon_treatment_row ul li p:first-child {
                margin-right: 20px;
                color: #ad995c;
                font-size: 1.85714rem;
                font-family: "Noto Serif JP", serif; }
            .menu_box_salmon_treatment_row ul li:before {
              content: "";
              position: absolute;
              top: 50%;
              right: -25px;
              width: 15px;
              height: 13px;
              background: url(../img/menu/item-next.png);
              background-repeat: no-repeat;
              transform: translateY(-50%); }
      .menu_box_salmon_treatment > p {
        text-align: right;
        margin: 10px 0 0; }
      .menu_box_salmon_treatment_second ul li:last-child {
        flex-grow: 0;
        width: 200px; }
    .menu_box_sale {
      padding-left: 35px; }
      .menu_box_sale p {
        position: relative;
        line-height: 2; }
        .menu_box_sale p:before {
          content: "";
          position: absolute;
          top: 12px;
          left: -15px;
          width: 5px;
          height: 5px;
          background: #5d8fa1;
          transform: rotate(45deg); }
    .menu_box_toggle {
      display: none; }
      .menu_box_toggle.show {
        display: block;
        animation: toggle .5s ease-in-out; }
  .menu_footer {
    text-align: right;
    padding-bottom: 30px; }
    .menu_footer p {
      margin-bottom: 10px;
      font-size: 0.85714rem;
      color: #717171; }

.menu_box_acupunture .menu_box_explain_title {
  padding-left: 0; }

.menu_box_title.active .menu_box_title_close:before {
  transform: translateY(-50%) rotate(-135deg); }

.menu_box_title.active .menu_box_title_close:after {
  transform: translateY(-50%) rotate(-45deg); }

.contact {
  position: relative; }
  .contact:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #dae4e9;
    z-index: -2; }
  .contact:after {
    content: "";
    position: absolute;
    top: 170px;
    left: 0;
    width: 100%;
    height: 90%;
    background: #5d8fa1;
    z-index: -2; }
  .contact_box {
    background: #fff;
    padding-top: 50px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1); }
    .contact_box_tellnow {
      display: none; }
    .contact_box_title {
      position: relative; }
      .contact_box_title p {
        font-family: "Noto Serif JP", serif;
        font-size: 1.42857rem;
        margin: auto;
        background: #fff;
        width: 270px;
        background: #fff;
        position: relative;
        z-index: 1;
        text-align: center; }
      .contact_box_title:after {
        content: "";
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 490px;
        height: 1px;
        background: #000; }
    .contact_box_phone {
      position: relative;
      font-size: 3.57143rem;
      font-family: "Noto Serif JP", serif;
      color: #00cc99;
      text-align: center;
      margin: 50px auto 15px;
      width: 380px; }
      .contact_box_phone:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background: url(../img/contact/phone.png); }
    .contact_box_time {
      text-align: center;
      margin-bottom: 35px; }
      .contact_box_time p {
        display: inline-block; }
        .contact_box_time p span {
          font-weight: bold; }
    .contact_box_note {
      margin-bottom: 50px; }
      .contact_box_note p {
        text-align: center;
        margin-bottom: 10px;
        color: #717171; }
    .contact_box_img {
      display: flex; }
      .contact_box_img li {
        width: 100%;
        height: 220px; }

.profile {
  position: relative; }
  .profile:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #dae4e9;
    z-index: -3; }
  .profile h2 {
    padding: 340px 0 65px; }
    .profile h2:before {
      content: "";
      position: absolute;
      bottom: 63px;
      left: 50%;
      width: 900px;
      height: 120px;
      background: url(../img/text-bg/profile.png);
      background-repeat: no-repeat;
      background-position: center;
      transform: translateX(-50%);
      z-index: -1; }
  .profile_img {
    height: 310px;
    margin-bottom: 50px; }
  .profile_content {
    padding-bottom: 100px; }
    .profile_content_row {
      display: flex; }
      .profile_content_row_left {
        width: 50%; }
        .profile_content_row_left h3 {
          font-size: 1.14286rem;
          margin-bottom: 35px; }
        .profile_content_row_left p {
          margin-bottom: 30px; }
          .profile_content_row_left p span {
            display: inline-block;
            font-weight: bold;
            width: 100px; }
      .profile_content_row_right {
        width: 50%;
        padding-left: 70px; }
        .profile_content_row_right p {
          margin-bottom: 40px;
          line-height: 2; }

.network {
  margin-bottom: 130px; }
  .network h2 {
    margin: 220px 0 70px; }
    .network h2:before {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      width: 900px;
      height: 120px;
      background: url(../img/text-bg/network.png);
      background-repeat: no-repeat;
      background-position: center;
      transform: translateX(-50%);
      z-index: -1; }
  .network ul li {
    text-align: center;
    margin-bottom: 30px; }
    .network ul li a {
      position: relative;
      transition: all .2s; }
      .network ul li a:before {
        content: "";
        position: absolute;
        top: 67%;
        right: -20px;
        width: 10px;
        height: 10px;
        background: url(../img/network-btn.png);
        transform: translateY(-50%); }
      .network ul li a:hover {
        color: #00cc99; }

footer {
  background: #5d8fa1;
  color: #fff; }
  footer .footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .footer_left {
      display: flex;
      align-items: center; }
      footer .footer_left_logo {
        display: inline-block;
        width: 100px;
        margin-right: 30px; }
      footer .footer_left p {
        margin-top: 10px;
        font-size: 0.78571rem;
        font-family: "Noto Serif JP", serif; }
    footer .footer_right {
      padding: 30px; }
      footer .footer_right a {
        display: block;
        padding-right: 15px;
        color: #fff;
        position: relative;
        transition: all .2s; }
        footer .footer_right a:before {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          width: 10px;
          height: 10px;
          transform: translateY(-50%);
          background: url(../img/menu/item-btn.png); }
        footer .footer_right a:hover {
          text-decoration: underline; }
