@mixin fz($fz) {
	font-size: ($fz/26)+0rem;
}
@media only screen and(max-width: 1024px) {
	html {
		font-size: 13px;
	}
	body {
		letter-spacing: 3px;
	}
	.container {
		width: 100%;
		padding: 0 15px;
	}
	.wrap {
		width: 100%;
		padding: 0 20px;
	}
	header nav ul {
		justify-content: flex-start;
	}
	header .header_boxlogo_logo {
		left: 40px;
	}
	.concept_top_right {
		right: 0;
	}
	.menu_img {
		right: 0;
	}
	.contact_box {
		left: 0;
	}
}
@media only screen and(max-width: 768px) {
	$s: 1;
	html {
		font-size: 26px;
	}
	body {
		letter-spacing: 1px;
		font-size: 1rem;
	}
	small {
		@include fz(26);
	}
	h2:before {
		background-size: 30% !important;
	}
	.container {
		padding: 0;
	}
	.overflow {
		overflow: hidden;
	}
	header {
		margin-top: (100px/$s);
		overflow-x: hidden;
		.header {
			&_bg {
				width: 100%;
				height: (560px/$s);
			}
			&_boxlogo {
				height: auto;
				&_logo {
					width: (420px/$s);
					position: inherit;
					margin-top: (590px/$s);
					margin-left: (40px/$s);
					h1 {
						margin-top: (25px/$s);
						@include fz(20);
					}
				}
			}
			&_socical {
				display: none;
			}
		}
		nav {
			position: fixed;
			top: 0;
			background: #fff;
			z-index: 99999;
			box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
			display: flex;
			align-items: center;
			padding: 0 (25px/$s) 0 (40px/$s) !important;
			height: (100px/$s);
			ul {
				display: block;
			}
			.nav_logo {
				display: block;
				width: (160px/$s);
			}
			.nav_btn {
				display: block;
				width: (50px/$s);
				height: (45px/$s);
				position: absolute;
				top: 50%;
				right: (20px/$s);
				transform: translateY(-50%);
				p {
					position: absolute;
					left: 0;
					width: 100%;
					height: 2px;
					background: #5d8fa1;
					transition: all .5s;
					&:nth-child(2) {
						top: 50%;
						transform: translateY(-50%);
					}
					&:first-child {
						top: 0%;
					}
					&:last-child {
						bottom: 0%;
					}
				}
				&.btn_show {
					p {
						&:first-child {
							top: 50%;
							transform: translateY(-50%) rotate(405deg);
						}
						&:nth-child(2) {
							opacity: 0;
						}
						&:last-child {
							bottom: 50%;
							transform: translateY(50%) rotate(-405deg);
						}
					}
				}
			}
			.nav_mega {
				position: absolute;
				background: rgba(255,255,255,.95);
				width: 100%;
				height: 100vh;
				right: -100%;
				top: (100px/$s);
				transition: all .5s;
				&.show {
					right: 0;
				}
			}
		}
	}
	.concept {
		margin-top: (90px/$s);
		h2 {
			margin-bottom: (70px/$s);
			@include fz(42);
			&:before {
				background-size: 400px !important;
				bottom: 0;
				width: 100%;
			}
		}
		&_top {
			overflow-x: hidden;
			margin-bottom: (100px/$s);
			height: (610px/$s);
			&_left {
				width: 80%;
				h3 {
					padding: (120px/$s) 5px;
					text-align: center;
					@include fz(36);
				}
			}
			&_right {
				width: (670px/$s);
				height: (380px/$s);
			}
		}
		&_mid {
			text-align: left;
			padding: 0 (40px/$s);
			margin-bottom: (100px/$s);
			p {
				@include fz(28);
				line-height: 1.5;
				margin-bottom: 5px;
			}
		}
		&_bottom {
			&_left, &_right {
				width: 100%;
				text-align: left;
				h3 {
					text-align: center;
					margin-bottom: (55px/$s);
					@include fz(36);
				}
				ul {
					margin-left: (85px/$s);
					margin-bottom: (135px/$s);
					li {
						@include fz(26);
						margin-bottom: (50px/$s);
						i {
							&:before {
								width: (10px/$s);
								height: (10px/$s);
								left: (-35px/$s);
							}
						}
					}
				}
				&_img {
					width: (500px/$s);
					height: (350px/$s);
					margin: (-235px/$s) auto 55px;
				}
				&_about {
					width: 90%;
					padding: 5px 15px;
					text-align: center;
					min-height: (155px/$s);
					bottom: (-15px/$s);
					p {
						@include fz(28);
					}
				}
			}
			&_left {
				margin-top: (235px/$s);
			}
			&_right {
				margin-top: (410px/$s);
			}
			.wrap {
				padding: 0 (40px/$s);
			}
		}
	}
	.shop {
		margin-bottom: (200px/$s);
		h2 {
			@include fz(42);
			margin: (275px/$s) 0 (70px/$s);
			&:before {
				background-size: (250px/$s) !important;
				width: 100%;
			}
		}
		.wrap {
			display: block;
			padding: 0 5%;
		}
		&_left, &_right {
			width: 100%;
			padding: 0 0 80px 0;
			&_btn {
				a {
					padding: (25px/$s);
					width: (300px/$s);
				}
			}
			h3 {
				text-align: center;
				@include fz(34);
				margin-bottom: (25px/$s);
			}
			&_img {
				width: (500px/$s);
				height: (320px/$s);
				margin: 0 auto (25px/$s);
			}
			&_preview {
				margin-left: (50px/$s);
				p {
					@include fz(26);
				}
			}
			&_date {
				@include fz(26);
				margin-left: (50px/$s);
			}
		}
		&_right {
			margin-top: (75px/$s);
		}
	}
	.menu {
		h2 {
			padding: (510px/$s) 0 (70px/$s);
			&:before {
				background-size: (280px/$s) !important;
				width: 100%;
				bottom: (80px/$s);
			}
		}
		&_img {
			right: 50%;
			transform: translateX(50%);
			width: (350px/$s);
			height: (420px/$s);
			top: (-100px/$s);
		}
		.wrap {
			padding: 0;
		}
		&_box {
			margin-bottom: (30px/$s);
			&_title {
				padding: 0 (40px/$s);
				h3 {
					@include fz(40);
				}
				&_close {
					top: (60px/$s);
					p {
						display: none;
					}
					&:before {
						height: (4px/$s);
					}
					&:after {
						height: (4px/$s);
					}
				}
			}
			&_toggle {
				padding: 0 (20px/$s) (90px/$s) (20px/$s);
			}
			&_item {
				height: (150px/$s);
				h4 {
					@include fz(28);
				}
				&_btn {
					a {
						min-width: (150px/$s);
						&:before,&:after {
							width: (20px/$s);
							height: (20px/$s);
							top: 55%;
						}
					}
				}
			}
			&_cont {
				display: block;
				ul {
					li {
						padding: (15px/$s) (30px/$s) (15px/$s) (60px/$s);
						width: 100%;
						border-bottom: 1px solid #e4f1f7;
						&:before {
							top: (30px/$s);
							width: (10px/$s);
							height: (10px/$s);
						}
						&:last-child {
							border-bottom: none;
						}
						p {
							.br_mobile {
								display: block;
								margin-top: 10px;
							}
							span {
								&:first-child {
									display: block;
									margin-bottom: 10px;
								}
							}
						}
						.menu_box_cont_btn {
							@extend .menu_box_item_btn;
						}
					}
				}
			}
			&_salmon {
				&_treatment {
					margin: 0 (30px/$s);
					&_row {
						display: block;
						&_title {
							margin: (30px/$s) 0 (20px/$s);
						}
						ul {
							display: block;
							li {
								margin-bottom: 30px;
								width: 100%;
								&:before {
									top: inherit;
									bottom: -28px;
									right: 50%;
									transform: translateY(-50%) rotate(90deg);
								}
								&:last-child {
									width: 100%;
								}
							}
						}
					}
					& > p {
						text-align: left;
						width: 100%;
						line-height: 1.5;
						margin-bottom: 20px;
					}
					ul {
						li {
							margin-bottom: (50px/$s);
							&:before {
								background-size: 100%;
								width: (25px/$s);
								height: (25px/$s);
								top: 120%;
							}
						}
					}
				}
			}
			&_sale {
				padding-left: (60px/$s);
				p {
					&:before {
						width: (10px/$s);
						height: (10px/$s);
						top: (25px/$s);
						left: (-20px/$s);
					}
				}
			}
			&_individual {
				small {
					display: none;
				}
			}
			small {
				padding: 0 (35px/$s);
			}
		}
		&_footer {
			margin-left: (40px/$s);
			text-align: left;
			padding-bottom: (100px/$s);
			p {
				@include fz(24);
				margin-bottom: (20px/$s);
			}
		}
	}
	.menu_box_item_btn a, .menu_box_cont ul li .menu_box_cont_btn a {
		padding: (20px/$s) (40px/$s) (20px/$s) (35px/$s);
	}
	.menu_box_trial .menu_box_item h4 {
		line-height: 1.5;
		width: (370px/$s);
	}
	.menu_box_explain_sub {
		@include fz(24);
	}
	.menu_box_explain_title span {
		font-weight: 400;
	}
	.contact {
		.wrap {
			padding: 0 (40px/$s);
		}
		&_box {
			&_tellnow {
				display: block;
				width: (300px/$s);
				padding: (25px/$s) 0;
				margin: (40px/$s) auto;
				text-align: center;
				color: #fff;
				background: #00cc99;
				border-radius: 5px;
				box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
			}
			&_phone {
				width: 100%;
				@include fz(70);
				&:before {
					background-size: 100%;
					background-repeat: no-repeat;
					width: (50px/$s);
					height: (50px/$s);
					left: 12%;
				}
			}
			&_title {
				&:after {
					height: 2px;
					top: 14px;
					width: 80%;
				}
				p {
					font-size: 1rem;
					width: 50%;
				}
			}
			&_time {
				p {
					display: block;
					line-height: 1.5;
					@include fz(24);
				}
			}
			&_note {
				p {
					text-align: left;
					line-height: 1.5;
					padding: 0 5%;
					@include fz(24);
					margin-bottom: (40px/$s);
				}
			}
			&_img {
				margin-top: (100px/$s);
				li {
					height: 150px;
				}
			}
		}
		&:after {
			height: 75%;
			top: 310px;
		}
	}
	.profile {
		.wrap {
			padding: 0 (40px/$s);
		}
		&:before {
			display: none;
		}
		h2 {
			padding: (310px/$s) 0 (70px/$s);
			&:before {
				bottom: 85px;
				background-size: 90% !important;
				width: 100%;
			}
		}
		&_img {
			height: 230px;
		}
		&_content {
			padding-bottom: 0;
			&_row {
				display: block;
				&_left,&_right {
					width: 100%;
				}
				&_right {
					margin-top: 50px;
					padding: 50px 50px 0;
					position: relative;
					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: -5.9%;
						width: 100vw;
						height: 100%;
						background: #dae4e9;
						z-index: -1;
						padding-bottom: 50px;
					}
				}
				&_left {
					padding: 0 50px;
					p {
						span {
							display: block;
							width: 100%;
							margin-bottom: 15px;
						}
					}
				}
			}
		}
	}
	footer {
		.footer {
			flex-wrap: wrap;
			&_left {
				display: block;
				width: 100%;
				order: 2;
				&_logo {
					display: block;
					width: 250px;
					margin: auto;
				}
				p {
					text-align: center;
					margin: 45px 0;
				}
			}
			&_right {
				margin: auto;
			}
		}
	}
	.network {
		margin-bottom: 100px;
		h2 {
			margin: (310px/$s) 0 (70px/$s);
			&:before {
				width: 100%;
				background-size: 60% !important;
				bottom: 15px;
			}
		}
	}
}

@media only screen and(max-width: 414px) {
	$sx: 2;
	html {
		font-size: 13px;
	}
	body {
		letter-spacing: 1px;
		font-size: 1rem;
	}
	small {
		@include fz(26);
	}
	h2:before {
		background-size: 30% !important;
	}
	.container {
		padding: 0;
	}
	.overflow {
		overflow: hidden;
	}
	header {
		margin-top: (100px/$sx);
		overflow-x: hidden;
		.header {
			&_bg {
				width: 100%;
				height: (560px/$sx);
			}
			&_boxlogo {
				height: auto;
				&_logo {
					width: (420px/$sx);
					position: inherit;
					margin-top: (590px/$sx);
					margin-left: (40px/$sx);
					h1 {
						margin-top: (25px/$sx);
						@include fz(20);
					}
				}
			}
			&_socical {
				display: none;
			}
		}
		nav {
			position: fixed;
			top: 0;
			background: #fff;
			z-index: 99999;
			box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
			display: flex;
			align-items: center;
			padding: 0 (25px/$sx) 0 (40px/$sx) !important;
			height: (100px/$sx);
			ul {
				display: block;
				li {
					a {
						padding: 10px 35px;
					}
				}
			}
			.nav_logo {
				display: block;
				width: (160px/$sx);
			}
			.nav_btn {
				display: block;
				width: (50px/$sx);
				height: (45px/$sx);
				position: absolute;
				top: 50%;
				right: (20px/$sx);
				transform: translateY(-50%);
				p {
					position: absolute;
					left: 0;
					width: 100%;
					height: 2px;
					background: #5d8fa1;
					transition: all .5s;
					&:nth-child(2) {
						top: 50%;
						transform: translateY(-50%);
					}
					&:first-child {
						top: 0%;
					}
					&:last-child {
						bottom: 0%;
					}
				}
				&.btn_show {
					p {
						&:first-child {
							top: 50%;
							transform: translateY(-50%) rotate(405deg);
						}
						&:nth-child(2) {
							opacity: 0;
						}
						&:last-child {
							bottom: 50%;
							transform: translateY(50%) rotate(-405deg);
						}
					}
				}
			}
			.nav_mega {
				position: absolute;
				background: rgba(255,255,255,.95);
				width: 100%;
				height: 100vh;
				right: -100%;
				top: (100px/$sx);
				transition: all .5s;
				&.show {
					right: 0;
				}
			}
		}
	}
	.concept {
		margin-top: (90px/$sx);
		h2 {
			margin-bottom: (70px/$sx);
			@include fz(42);
			&:before {
				background-size: (400px/$sx) !important;
				bottom: -27px;
				width: 100%;
			}
		}
		&_top {
			overflow-x: hidden;
			margin-bottom: (100px/$sx);
			height: (610px/$sx);
			&_left {
				width: 80%;
				h3 {
					padding: (120px/$sx) 5px;
					text-align: center;
					@include fz(36);
				}
			}
			&_right {
				width: (670px/$sx);
				height: (380px/$sx);
			}
		}
		&_mid {
			text-align: left;
			padding: 0 (40px/$sx);
			margin-bottom: (100px/$sx);
			p {
				@include fz(28);
				line-height: 2;
				margin-bottom: 0;
			}
		}
		&_bottom {
			&_left, &_right {
				width: 100%;
				text-align: left;
				h3 {
					text-align: center;
					margin-bottom: (55px/$sx);
					@include fz(36);
				}
				ul {
					margin-left: (85px/$sx);
					margin-bottom: (135px/$sx);
					li {
						@include fz(26);
						margin-bottom: (50px/$sx);
						i {
							&:before {
								width: (10px/$sx);
								height: (10px/$sx);
								left: (-35px/$sx);
							}
						}
					}
				}
				&_img {
					width: (500px/$sx);
					height: (350px/$sx);
					margin: (-235px/$sx) auto 55px;
				}
				&_about {
					width: 90%;
					padding: 5px 15px;
					text-align: center;
					min-height: (155px/$sx);
					bottom: 15px;
					p {
						@include fz(28);
					}
				}
			}
			&_left {
				margin-top: (235px/$sx);
			}
			&_right {
				margin-top: (410px/$sx);
			}
			.wrap {
				padding: 0 (40px/$sx);
			}
		}
	}
	.shop {
		margin-bottom: (200px/$sx);
		h2 {
			@include fz(42);
			margin: (275px/$sx) 0 (70px/$sx);
			&:before {
				background-size: (250px/$sx) !important;
				width: 100%;
				bottom: -20px;
			}
		}
		.wrap {
			display: block;
			padding: 0 5%;
		}
		&_left, &_right {
			width: 100%;
			padding: 0 0 40px 0;
			&_btn {
				a {
					padding: (25px/$sx);
					width: (300px/$sx);
				}
			}
			h3 {
				text-align: center;
				@include fz(34);
				margin-bottom: (25px/$sx);
			}
			&_img {
				width: (500px/$sx);
				height: (320px/$sx);
				margin: 0 auto (25px/$sx);
			}
			&_preview {
				margin-left: (50px/$sx);
				p {
					@include fz(26);
				}
			}
			&_date {
				@include fz(26);
				margin-left: (50px/$sx);
			}
		}
		&_right {
			margin-top: (75px/$sx);
		}
	}
	.menu {
		h2 {
			padding: (510px/$sx) 0 (70px/$sx);
			&:before {
				background-size: (280px/$sx) !important;
				width: 100%;
				bottom: 15px;
			}
		}
		&_img {
			right: 50%;
			transform: translateX(50%);
			width: (350px/$sx);
			height: (420px/$sx);
			top: (-100px/$sx);
		}
		.wrap {
			padding: 0;
		}
		&_box {
			margin-bottom: (30px/$sx);
			&_title {
				padding: 0 (40px/$sx);
				height: 60px;
				h3 {
					@include fz(40);
					line-height: 55px;
				}
				&_close {
					top: (60px/$sx);
					p {
						display: none;
					}
					&:before {
						height: (4px/$sx);
					}
					&:after {
						height: (4px/$sx);
					}
				}
			}
			&_toggle {
				padding: 0 (20px/$sx) (90px/$sx) (20px/$sx);
			}
			&_item {
				height: (150px/$sx);
				h4 {
					@include fz(28);
				}
				&_btn {
					a {
						min-width: (150px/$sx);
						&:before,&:after {
							width: (20px/$sx);
							height: (20px/$sx);
							top: 55%;
						}
					}
				}
			}
			&_cont {
				display: block;
				ul {
					li {
						padding: (15px/$sx) (30px/$sx) (15px/$sx) (60px/$sx);
						width: 100%;
						border-bottom: 1px solid #e4f1f7;
						&:before {
							top: (30px/$sx);
							width: (10px/$sx);
							height: (10px/$sx);
						}
						&:last-child {
							border-bottom: none;
						}
						p {
							.br_mobile {
								display: block;
								margin-top: 10px;
							}
							span {
								&:first-child {
									display: block;
									margin-bottom: 10px;
								}
							}
						}
					}
				}
			}
			&_salmon {
				&_treatment {
					margin: 0 (30px/$sx);
					&_row {
						display: block;
						&_title {
							margin: (30px/$sx) 0 (20px/$sx);
						}
						ul {
							display: block;
							li {
								margin-bottom: 30px;
								width: 100%;
								&:before {
									top: inherit;
									bottom: -28px;
									right: 50%;
									transform: translateY(-50%) rotate(90deg);
								}
								&:last-child {
									width: 100%;
								}
							}
						}
					}
					& > p {
						text-align: left;
						width: 100%;
						line-height: 1.5;
						margin-bottom: 20px;
					}
					ul {
						li {
							margin-bottom: (50px/$sx);
							&:before {
								background-size: 100%;
								width: (25px/$sx);
								height: (25px/$sx);
								top: 120%;
							}
						}
					}
				}
			}
			&_sale {
				padding-left: (60px/$sx);
				p {
					&:before {
						width: (10px/$sx);
						height: (10px/$sx);
						top: (25px/$sx);
						left: (-20px/$sx);
					}
				}
			}
			&_individual {
				small {
					display: none;
				}
			}
			small {
				padding: 0 (35px/$sx);
			}
		}
		&_footer {
			margin-left: (40px/$sx);
			text-align: left;
			padding-bottom: (100px/$sx);
			p {
				@include fz(24);
				margin-bottom: (20px/$sx);
			}
		}
	}
	.menu_box_item_btn a, .menu_box_cont ul li .menu_box_cont_btn a {
		padding: (20px/$sx) (40px/$sx) (20px/$sx) (15px);
	}
	.menu_box_trial .menu_box_item h4 {
		line-height: 1.5;
		width: (370px/$sx);
	}
	.menu_box_explain_sub {
		@include fz(24);
	}
	.menu_box_explain_title span {
		font-weight: 400;
	}
	.contact {
		.wrap {
			padding: 0 (40px/$sx);
		}
		&_box {
			padding-top: 25px;
			&_tellnow {
				display: block;
				width: (300px/$sx);
				padding: (25px/$sx) 0;
				margin: (40px/$sx) auto;
				text-align: center;
				color: #fff;
				background: #00cc99;
				border-radius: 5px;
				box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
			}
			&_phone {
				width: 100%;
				@include fz(70);
				margin-top: 30px;
				padding-left: 35px;
				&:before {
					background-size: 100%;
					background-repeat: no-repeat;
					width: (50px/$sx);
					height: (50px/$sx);
					left: 12%;
					bottom: 3px;
				}
			}
			&_title {
				&:after {
					height: 1px;
					top: 7px;
					width: 80%;
				}
				p {
					font-size: 1rem;
					width: 60%;
				}
			}
			&_time {
				p {
					display: block;
					line-height: 1.5;
					@include fz(24);
				}
			}
			&_note {
				p {
					text-align: left;
					line-height: 1.5;
					padding: 0 5%;
					@include fz(24);
					margin-bottom: (40px/$sx);
				}
			}
			&_img {
				margin-top: (100px/$sx);
				li {
					height: 75px;
				}
			}
		}
		&:after {
			height: 75%;
			top: (310px/$sx);
		}
	}
	.profile {
		.wrap {
			padding: 0 (40px/$sx);
		}
		&:before {
			display: none;
		}
		h2 {
			padding: (310px/$sx) 0 (70px/$sx);
			&:before {
				bottom: 15px;
				background-size: 90% !important;
				width: 100%;
			}
		}
		&_img {
			height: 230px;
		}
		&_content {
			padding-bottom: 0;
			&_row {
				display: block;
				&_left,&_right {
					width: 100%;
				}
				&_right {
					margin-top: 50px;
					padding-left: 0;
					padding-top: 50px;
					position: relative;
					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: -5.9%;
						width: 100vw;
						height: 100%;
						background: #dae4e9;
						z-index: -1;
						padding-bottom: 50px;
					}
				}
				p {
					@include fz(26);
				}
			}
		}
	}
	footer {
		.footer {
			flex-wrap: wrap;
			&_left {
				display: block;
				width: 100%;
				order: 2;
				&_logo {
					display: block;
					width: 125px;
					margin: auto;
				}
				p {
					text-align: center;
					margin: 25px 0;
				}
			}
			&_right {
				margin: auto;
				padding: 25px;
			}
		}
	}
	.network {
		margin-bottom: 50px;
		h2 {
			margin: (310px/$sx) 0 (70px/$sx);
			&:before {
				width: 100%;
				background-size: 60% !important;
				bottom: -15px;
			}
		}
	}
}

