@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');
@keyframes toggle {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}
$color: #00cc99;
$ff: 'Noto Serif JP', serif;
@mixin before {
	content: "";
	position: absolute;
}
@mixin h2($bottom,$bg) {
	@include before;
	bottom: $bottom;
	left: 50%;
	width: 900px;
	height: 120px;
	background: $bg;
	background-repeat: no-repeat;
	background-position: center;
	transform: translateX(-50%);
	z-index: -1;
}
@mixin fz($fz) {
	font-size: ($fz/14)+0rem;
}
* {
	box-sizing: border-box;
}
html {
	-webkit-text-size-adjust: 100%;
	font-size: 14px;
}
h1,h2,h3,h4,h5,h6,p,dl,dt,dd {
	margin: 0;
	padding: 0;
	line-height: 1;
}
body {
	overflow-x: hidden;
	font-family: "A-OTF 新ゴ Pro",A-OTF Shin Go Pro,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1rem;
	line-height: 1;
	color: #333333;
	background: #eaf1f4;
}
main {
	display: block;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
a {
	background-color: transparent;
	text-decoration: none;
	color: #333333;
	transition: all .3s;
	&:hover {
		color: #999;
	}
}
img {
	object-fit: cover;
	border-style: none;
	height: 100%;
	width: 100%;
}
small {
	display: block;
}
ul, ol {
	list-style: none;
	padding-left: 0;
	font-size: 0;
}
li {
	font-size: 1rem;
}
.container {
	margin: auto;
	width: 1200px;
}
.wrap {
	margin: auto;
	width: 1000px;
}
.h2 {
	font-family: $ff;
	@include fz(28);
	text-align: center;
	font-weight: bold;
	position: relative;
}
// write
header {
	position: relative;
	font-family: $ff;
	.header_bg {
		position: absolute;
		top: 0;
		right: 0;
		width: 72%;
		height: 780px;
	}
	.header_boxlogo {
		position: relative;
		height: 780px;
		&_logo {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 375px;
			h1 {
				margin-top: 30px;
				@include fz(15);
				color: #000;
			}
		}
	}
	nav {
		.nav_btn {
			display: none;
		}
		.nav_logo {
			display: none;
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			li {
				a {
					display: block;
					padding: 20px 35px;
					text-align: center;
					font-family: $ff;
					p {
						&:first-child {
							@include fz(17);
							color: #000000;
							margin-bottom: 10px;
							font-weight: bold;
							letter-spacing: 1px;
							transition: all .2s;
						}
						&:last-child {
							@include fz(11);
							color: #838383;
						}
					}
					&:hover {
						p {
							&:first-child {
								color: $color;
							}
						}
					}
				}
			}
		}
	}
	.header_socical {
		position: absolute;
		right: 15px;
		bottom: 15px;
		ul {
			display: flex;
			flex-wrap: wrap;
			margin-right: 50px - 15px;
			li {
				a {
					display: block;
					padding: 15px;
					&:hover {
						img {
							filter: grayscale(0%);
						}
					}
				}
				img {
					filter: grayscale(100%);
					transition: all .2s linear;
				}
			}
		}
	}
}
.concept {
	margin-top: 220px;
	h2 {
		@extend .h2;
		margin-bottom: 70px;
		&:before {
			@include h2(-5px,url(../img/text-bg/concept.png));
		}
	}
	&_top {
		position: relative;
		height: 540px;
		margin-bottom: 120px;
		&_left {
			display: flex;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 500px;
			background: #5d8fa1;
			z-index: 1;
			h3 {
				font-family: $ff;
				margin: auto;
				padding: 120px 60px;
				@include fz(26);
				color: #fff;
				letter-spacing: 5px;
				font-weight: 400;
			}
		}
		&_right {
			position: absolute;
			bottom: 0;
			right: -100px;
			width: 900px;
			height: 490px;
			overflow: hidden;
			box-shadow: 10px 10px 10px 0px rgba(0,0,0,.2);
			z-index: 0;
		}
	}
	&_mid {
		text-align: center;
		margin-bottom: 220px;
		p {
			@include fz(16);
			margin-bottom: 20px;
		}
	}
	&_bottom {
		.wrap {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&_left,&_right {
			background: #fff;
			width: 470px;
			text-align: center;
			position: relative;
			&_img {
				width: 340px;
				height: 240px;
				margin: -100px auto 55px;
				box-shadow: 10px 10px 10px 0px rgba(0,0,0,.1);
			}
			h3 {
				font-family: $ff;
				@include fz(22);
				font-weight: bold;
				margin-bottom: 40px;
			}
			ul {
				margin-bottom: 110px;
				li {
					margin-bottom: 30px;
					i {
						position: relative;
						&:before {
							@include before;
							top: 50%;
							left: -15px;
							width: 5px;
							height: 5px;
							background: #b8a876;
							transform: translateY(-50%) rotate(45deg);
						}
					}
				}
			}
			&_about {
				display: flex;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				font-family: $ff;
				justify-content: center;
				align-items: center;
				background: #b8a876;
				width: 340px;
				margin: 0 auto -55px;
				padding: 0 45px;
				width: 370px;
				min-height: 110px;
				padding: 25px 10px; 
				p {
					@include fz(16);
					color: #fff;
					line-height: 1.8;
				}
			}
		}
	}
}
.shop {
	margin-bottom: 185px;
	h2 {
		@extend .h2;
		margin: 260px 0 70px;
		&:before {
			@include h2(0,url(../img/text-bg/shop.png));
		}
	}
	.wrap {
		padding: 0 150px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&_left, &_right {
		position: relative;
		padding: 0 15px 35px 20px;
		width: 50%;
		&_img {
			margin-bottom: 20px;
			height: 200px;
		}
		h3 {
			font-family: $ff;
			margin-bottom: 10px;
			font-weight: bold;
			@include fz(18);
		}
		&_preview {
			margin-bottom: 15px;
			p {
				margin-bottom: 5px;
				line-height: 1.3;
			}
		}
		&_date {
			margin-bottom: 20px;
		}
		&_btn {
			a {
				font-family: $ff;
				display: block;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				min-width: 170px;
				padding: 10px;
				margin: auto;
				text-align: center;
				background: $color;
				color: #fff;
				border-radius: 5px;
				box-shadow: 4px 4px 10px 0px rgba(0,0,0,.1);
				transition: all .3s linear;
				&:hover {
					box-shadow: none;
					background: #00b98b;
				}
			}
		}
	}
	&_right {
		padding-left: 15px;
		padding-right: 20px;
		h3 {
			span {
				@include fz(14);
			}
		}
	}
}
.menu {
	background: #dae4e9;
	h2 {
		@extend .h2;
		padding: 220px 0 65px;
		&:before {
			@include h2(70px,url(../img/text-bg/menu.png));
			z-index: 0;
		}
	}
	.wrap {
		position: relative;
	}
	&_img {
		position: absolute;
		top: -60px;
		right: -200px;
		width: 500px;
		height: 610px;
		z-index: 0;
	}
	&_box {
		position: relative;
		background: #fff;
		margin-bottom: 20px;
		z-index: 1;
		&_toggle {
			padding: 0 30px 50px 30px;
		}
		&_title {
			display: flex;
			justify-content: space-between;
			cursor: pointer;
			height: 125px;
			padding: 0 30px;
			&:hover {
				background: #dff9f2;
			}
			h3 {
				@include fz(24);
				font-family: $ff;
				color: #5d8fa1;
				font-weight: 400;
				line-height: 125px;
			}
			&_close {
				position: absolute;
				top: 50px;
				right: 30px;
				padding-right: 35px;
				display: flex;
				align-items: center;
				&:before, &:after {
					@include before;
					top: 50%;
					right: 0;
					width: 25px;
					height: 1px;
					transform: translateY(-50%) rotate(0deg);
					background: $color;
					transition: all .3s linear;
				}
				&:after {
					transform: translateY(-50%) rotate(90deg);
				}
				p {
					color: $color;
					line-height: 1.9;
				}
			}
		}
		&_explain {
			margin: 30px 0 30px;
			&_title {
				margin-bottom: 20px;
				line-height: 1.9;
				padding-left: 20px;
				span {
					font-weight: bold;
				}
			}
			&_sub {
				@include fz(12);
				color: #717171;
			}
		}
		&_cont {
			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin: 20px 0 0;
				li {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 48%;
					padding: 10px 10px 10px 35px;
					position: relative;
					&:before {
						@include before;
						top: 50%;
						left: 20px;
						width: 5px;
						height: 5px;
						background: #5d8fa1;
						transform: translateY(-50%) rotate(45deg);
					}
					p {
						span {
							&:nth-child(2) {
								font-weight: bold;
							}
						}
					}
					.menu_box_cont_btn {
						@extend .menu_box_item_btn;
					}
				}
			}
			&_second {
				ul {
					display: block;
					li {
						width: 100%;
					}
				}
			}
		}
		&_item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 15px;
			margin-top: 30px;
			background: #e4f1f7;
			height: 55px;
			h4 {
				@include fz(16);
				font-weight: bold;
			}
			&_btn {
				a {
					position: relative;
					@include fz(13);
					min-width: 80px;
					display: block;
					padding: 7px 5px 7px 20px;
					border-radius: 5px;
					background: $color;
					color: #fff;
					box-shadow: 2px 2px 3px 0px rgba(0,0,0,.1);
					&:before {
						@include before;
						top: 50%;
						right: 20px;
						width: 11px;
						height: 11px;
						transform: translateY(-50%);
						background: url('../img/menu/item-btn.png');
						background-size: 100%;
					}
					&:hover {
						box-shadow: none;
						background: #00b98b;
					}
				}
			}
		}
		small {
			padding: 0 20px;
			margin-top: 30px;
		}
		&_salmon {
			&_treatment {
				padding: 10px;
				margin-left: 20px;
				border: 1px solid #f3f0e8;
				&_row {
					display: flex;
					align-items: center;
					&_title {
						min-width: 80px;
						@include fz(16);
						font-weight: bold;
						margin-left: 15px;
					}
					ul {
						display: flex;
						width: 100%;
						li {
							display: flex;
							align-items: center;
							margin-right: 30px;
							padding: 15px;
							background: #f3f0e8;
							width: 200px;
							position: relative;
							&:last-child {
								flex-grow: 1;
								margin-right: 0;
								width: 100%;
								width: 350px;
								&:before {
									display: none;
								}
							}
							p {
								line-height: 1.6;
								&:first-child {
									margin-right: 20px;
									color: #ad995c;
									@include fz(26);
									font-family: $ff;
								}
							}
							&:before {
								@include before;
								top: 50%;
								right: -25px;
								width: 15px;
								height: 13px;
								background: url(../img/menu/item-next.png);
								background-repeat: no-repeat;
								transform: translateY(-50%);
							}
						}
					}
				}
				& > p {
					text-align: right;
					margin: 10px 0 0;
				}
				&_second {
					ul {
						li {
							&:last-child {
								flex-grow: 0;
								width: 200px;
							}
						}
					}
				}
			}
		}
		&_sale {
			padding-left: 35px;
			p {
				position: relative;
				line-height: 2;
				&:before {
					@include before;
					top: 12px;
					left: -15px;
					width: 5px;
					height: 5px;
					background: #5d8fa1;
					transform: rotate(45deg);
				}
			}
		}
		&_toggle {
			display: none;
			&.show {
				display: block;
				animation: toggle .5s ease-in-out;
			}
		}
	}
	&_footer {
		text-align: right;
		padding-bottom: 30px;
		p {
			margin-bottom: 10px;
			@include fz(12);
			color: #717171;
		}
	}
}
.menu_box_acupunture {
	.menu_box_explain_title {
		padding-left: 0;
	}
}
.menu_box_title.active {
	.menu_box_title_close {
		&:before {
			transform: translateY(-50%) rotate(-135deg);
		}
		&:after {
			transform: translateY(-50%) rotate(-45deg);
		}
	}
}
.contact {
	position: relative;
	&:before {
		@include before;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #dae4e9;
		z-index: -2;
	}
	&:after {
		@include before;
		top: 170px;
		left: 0;
		width: 100%;
		height: 90%;
		background: #5d8fa1;
		z-index: -2;
	}
	&_box {
		background: #fff;
		padding-top: 50px;
	    box-shadow: 10px 10px 10px 0px rgba(0,0,0,.1);
	    &_tellnow {
	    	display: none;
	    }
		&_title {
			position: relative;
			p {
				font-family: $ff;
				@include fz(20);
				margin: auto;
				background: #fff;
				width: 270px;
				background: #fff;
				position: relative;
				z-index: 1;
				text-align: center;
			}
			&:after {
				@include before;
				top: 10px;
				left: 50%;
				transform: translateX(-50%);
				width: 490px;
				height: 1px;
				background: #000;
			}
		}
		&_phone {
			position: relative;
			@include fz(50);
			font-family: $ff;
			color: $color;
			text-align: center;
			margin: 50px auto 15px;
			width: 380px;
			&:before {
				@include before;
				bottom: 0;
				left: 0;
				width: 30px;
				height: 30px;
				background: url(../img/contact/phone.png);
			}
		}
		&_time {
			text-align: center;
			margin-bottom: 35px;
			p {
				display: inline-block;
				span {
					font-weight: bold;
				}
			}
		}
		&_note {
			margin-bottom: 50px;
			p {
				text-align: center;
				margin-bottom: 10px;
				color: #717171;
			}
		}
		&_img {
			display: flex;
			li {
				width: 100%;
				height: 220px;
				img {

				}
			}
		}
	}
}
.profile {
	position: relative;
	&:before {
		@include before;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		background: #dae4e9;
		z-index: -3;
	}
	h2 {
		@extend .h2;
		padding: 340px 0 65px;
		&:before {
			@include h2(63px,url(../img/text-bg/profile.png));
		}
	}
	&_img {
		height: 310px;
		margin-bottom: 50px;
	}
	&_content {
		padding-bottom: 100px;
		&_row {
			display: flex;
			&_left {
				width: 50%;
				h3 {
					@include fz(16);
					margin-bottom: 35px;
				}
				p {
					margin-bottom: 30px;
					span {
						display: inline-block;
						font-weight: bold;
						width: 100px;
					}
				}
			}
			&_right {
				width: 50%;
				padding-left: 70px;
				p {
					margin-bottom: 40px;
					line-height: 2;
				}
			}
		}
	}
}
.network {
	margin-bottom: 130px;
	h2 {
		@extend .h2;
		margin: 220px 0 70px;
		&:before {
			@include h2(-10px,url(../img/text-bg/network.png));
		}
	}
	ul {
		li {
			text-align: center;
			margin-bottom: 30px;
			a {
				position: relative;
				transition: all .2s;
				&:before {
					@include before;
					top: 67%;
					right: -20px;
					width: 10px;
					height: 10px;
					background: url(../img/network-btn.png);
					transform: translateY(-50%);
				}
				&:hover {
					color: $color;
				}
			}
		}
	}
}
footer{
	background: #5d8fa1;
	color: #fff;
	.footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&_left {
			display: flex;
			align-items: center;
			&_logo {
				display: inline-block;
				width: 100px;
				margin-right: 30px;
			}
			p {
				margin-top: 10px;
				@include fz(11);
				font-family: $ff;
			}
		}
		&_right {
			padding: 30px;
			a {
				display: block;
				padding-right: 15px;
				color: #fff;
				position: relative;
				transition: all .2s;
				&:before {
					@include before;
					top: 50%;
					right: 0;
					width: 10px;
					height: 10px;
					transform: translateY(-50%);
					background: url(../img/menu/item-btn.png);
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}